*
{
 margin : 30px;
 background-color: black;  
}



h1{
    
    font-family: Arial;cursive;
    margin: auto;
    position: center;
    text-align: center;
    font-weight: bold;
    font-size:100px;
    background-color: gray;
   
}


p{
    
    font-family: Arial;cursive;
    margin: auto;
    font-size: 30px;
    position: center;
    text-align: center;
    background-color: gray;
    
}